.title h1{
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #3498db;
  }
  .title h1:hover{
    background: #3498db;
    color: #ffffff;
    text-decoration: underline;
  }
  .title p{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 4rem;
    font-style: italic;
    font-family: Blackadder;
  }