.skills-Tools-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  color: #dffcfc;
}
.technologies,
.external-libraries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.external-libraries-wrapper,
.Softskills-wrapper {
  margin: 2rem 0;
}
.external-libraries-wrapper h2,
.Softskills-wrapper h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
}

.Softskills,
.current-work-content {
  text-align: justify;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.current-work h2 {
  font-weight: bold;
  font-size: 1.2rem;
}
.current-work-content a {
    background: #dffcfc;
    text-decoration: none;
    color: #005e5e;
    font-size: 1rem;
    padding: 6px;
    border-radius: 4px;
}
.current-work-content a:hover{
    text-decoration: underline;
}