 .my-projects-wrapper{
    width: 90%;
    margin: 10rem auto 6rem;
    color: #1a1a11;
    
  } 
  .my-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


  }
  .projects{
    margin: 2rem 4rem;
  }
  