header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  box-shadow: 0px 1px 39px #808080;
  background: #3498db;
  width: 100%;
}
.header-content {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  color: #ffffff;
  padding: 12px 0;
}

@media (max-width: 1000px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }
}
