.about-container {
  width: 90%;
  margin: 0 auto;
  color: #1a1a11;
  margin-top: 4rem;
}

.about-body {
  text-align: justify;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.about-body button {
  cursor: pointer;
  background: #dffcfc;
  border: none;
  border-radius: 4px;
  padding: 6px;
  margin: 4px;
}
.about-body button a {
  text-decoration: none;
  color: #005e5e;
  font-weight: 600;
  font-size: 1rem;
}
.about-body button a:hover{
    text-decoration: underline;
    color: #800080;
}
