.ProfilePic{
    text-align: center;
    
}
.ProfilePic img{
    height: 228px;
    width: 228px;
   object-fit: cover;
    border: 1px dotted #3498db;
    border-radius: 50%;
    text-align: center;
    background:#ffffffff;
}