.ProfilePic{
    text-align: center;
    
}
.ProfilePic img{
    height: 182px;
    width: 182px;
   object-fit: cover;
    border: 1px dotted #96f0f0;
    border-radius: 50%;
    text-align: center;
}