.introduction-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #1a1a1a;
  padding: 40vh 0 20vh 28px;
  width: 100%;
}
/* .introduction-wrappper {
  margin: 0 auto;
} */
.introduction-txt {
  display: flex;
  flex-direction: column;
  line-height: 5rem;
  width: 50%;
}
/* .Translate3d-img{
  flex-shrink: 3;
} */
@media (max-width: 1000px) {
  .introduction-container {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 40vh 0 20vh 0px;
  }
  .introduction-txt {
    margin: 0 auto;
    line-height: 4rem;
    width: 95%;
  }
}
