.layout-wrapper {
  width: 100%;
}
header, main, footer{
  width: 100%;
  padding: 20px 0;
}
header .header-content, main .children, footer .footer-content{
  width: 90%;
  margin: 0 auto;
}
/* header */
header .header-content{
  position: relative;
}
header .header-content a {
  margin: 8px;
}
header .btn{
position: absolute;
bottom: 0;
top: 0;
right: 26%;
border: none;
border-radius: 4px;
padding: 2px;
}
 /* light mode on header */
.layout-wrapper.light header  {
  color: #1F2021;
  background-color: #779ecb;
}
.layout-wrapper.light header .header-content a {
  color: #1F2021;
}
/* dark mode on header */
.layout-wrapper.dark header  {
  color: #fff;
  background-color: #2E2E34;
}
.layout-wrapper.dark header .header-content a {
  color: #fff;
}
/* children */
/* light mode on children */
.layout-wrapper.light main  {
  color: #1F2021;
  background-color: #f2f6ff;
}
/* dark mode on children */
.layout-wrapper.dark main  {
  color: #fff;
  background-color: #1F2021;
}
/* footer */
/* light mode on footer */
.layout-wrapper.light footer  {
  color: #1F2021;
  background-color: #779ecb;
}
/* dark mode on footer */
.layout-wrapper.dark footer  {
  color: #fff;
  background-color: #2E2E34;
}