
.rotate-image {
    width: auto;
    height: auto;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 1000px) {
    .rotate-image {
      width: 98px;
      height: 98px;
  }
  }